[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"

[dev-packages]
pytest = "*"
fakeredis = "*"
pytest-asyncio = "*"
"pytest-pep8" = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
